<?php if (!defined('THINK_PATH')) exit();?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>远达驾校 - 北京的驾校</title>
<meta name="keywords" content="北京的驾校,远达驾校、驾校、北京驾校、学车、驾驶培训、驾考、学车技巧、学车视频、最新活动">
<meta name="description" content="海淀驾校建立于1985年,拥有自己的考试场（京海考试场），是场校合一的单位，历经30年的发展，在取得经济效益和社会效益双丰收的同时，为全市驾校行业的发展做出了积极贡献。
">
<!--<base target="_blank">-->
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style.css" />
<link href="__PUBLIC__/css/qq.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.idtabs.min.js"></script>
</head>
<body>
<!--头部-->
<div class="wrap apex auto tr">
      <a href="/wap/index.php/member_reg/register/2.html">员工通道</a>|
    <a href="/wap/index.php/member_reg/register/1.html">学员通道</a>|
    <a href="/wap/index.php/member_reg/login.html">登录</a>|
    <a href="/wap/index.php/member_reg/register.html">注册</a>
  </div>
<header class="wrap header auto fix">
  <div class="logo f_l"><a href="/wap/"><img src="__PUBLIC__/images/logo.png" /></a></div>
  <div class="tel f_r"><img src="__PUBLIC__/images/tel.png"></div>
</header>
<nav class="nav wrap auto fix">
  <div class="menu f_l fix">
    <ul>
	  <li><a href="/wap/" class="on">网站首页</a></li>
	  <li><a href="/wap/index.php/about/1.html" >海驾简介</a></li>
	  <li><a href="/wap/index.php/news/1.html" >新闻中心</a></li>
	</ul>
  </div>
  <div class="more_1 f_r">
    <img src="__PUBLIC__/images/tb_1.png">
    <div class="pf_01">
      <ul>
        <li><a href="/wap/index.php/about/2.html">学车指南</a></li>
        <li><a href="/wap/index.php/center.html">驾校服务</a></li>
        <li><a href="/wap/index.php/show/car_msg/2.html">网上报名</a></li>
        <li><a href="http://haijia.bjxueche.net/" target="_blank">学员中心</a></li>
      </ul>
    </div>
  </div>
  <script>
	$(".more_1").click(function(){
		$(this).find(".pf_01").stop(false,true).show()	
	}).mouseleave(function(){
		$(this).find(".pf_01").stop(false,true).hide()
	})
  </script>
</nav>
<div class="wrap search auto fix">
 <form action="/wap/index.php/search.html" method="post" name="search" id="search" onsubmit="return checkReg();">
  <input type="submit" value="" class="input_1 f_l">
  <input type="text"   class="ssk_1 f_l" name="serKey" id="serKey" value="输入您所要搜索的关键字" onmouseover="this.focus()" onblur="if (this.value =='') this.value='输入您所要搜索的关键字'" onclick="if (this.value=='输入您所要搜索的关键字') this.value=''">
  <input type="submit" value="搜 索" class="input_2 f_r qcmh">
 </form>
 <script type="text/javascript">
    function checkReg(){
       var serKey = $("#serKey").val();
       if(serKey.length == 0 || serKey == " "|| serKey == "输入您所要搜索的关键字"){
            alert('输入您所要搜索的关键字！');
            $("#serKey").focus();
            return false;
       }
       return true;
    }
 </script>
</div>
<!--头部end-->
<!--主体开始-->
<!--主体-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--banner开始-->
<script type="text/javascript" src="__PUBLIC__/js/jquery.superslide.2.1.1.js"></script>
<div class="banner">
  <div class="hd">
    <ul>
           <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>
         </ul>
  </div>
  <div class="bd">
    <ul>
	       <li><a href="http://www.haijia.com.cn/wap/index.php/news/view/356.html" target="_blank" title="互联网注册、自主约考流程"><img src="__PUBLIC__/images/201604161419493998.jpg" /></a></li>
           <li><a href="http://www.haijia.com.cn/wap/index.php/news/view/348.html" target="_blank" title="约“惠”班"><img src="__PUBLIC__/images/201603251529291398.jpg" /></a></li>
           <li><a href="http://www.haijia.com.cn/wap/index.php/show/car_msg/2/36.html" target="_blank" title="团报中心"><img src="__PUBLIC__/images/201603140932523655.jpg" /></a></li>
           <li><a href="/wap/?c=about&id=1" target="_blank" title="海驾欢迎你"><img src="__PUBLIC__/images/201507301211022812.jpg" /></a></li>
           <li><a href="?c=show" target="_blank" title="专注30年"><img src="__PUBLIC__/images/201506011031177733.jpg" /></a></li>
        </ul>
  </div>
</div>
<script type="text/javascript">
  jQuery(".banner").slide({mainCell:".bd ul",autoPlay:true});
</script>
<!--banner结束-->
<div class="wrap mod_01 auto fix">
  <ul>
       <li>
      <a href="/wap/index.php/about/15.html" target="_blank">
        <img src="__PUBLIC__/images/a_1.png" />
        <p>学车流程</p>
      </a>
    </li>
       <li>
      <a href="/wap/index.php/show.html" target="_blank">
        <img src="__PUBLIC__/images/a_2.png" />
        <p>班型介绍</p>
      </a>
    </li>
       <li>
      <a href="/wap/index.php/about/6.html" target="_blank">
        <img src="__PUBLIC__/images/a_3.png" />
        <p>班车服务</p>
      </a>
    </li>
       <li>
      <a href="http://xuexi.xuechebu.com/" target="_blank">
        <img src="__PUBLIC__/images/a_4.png" />
        <p>科目教学</p>
      </a>
    </li>
       <li>
      <a href="http://haijia.bjxueche.net/" target="_blank">
        <img src="__PUBLIC__/images/a_5.png" />
        <p>网上约车</p>
      </a>
    </li>
       <li>
      <a href="/wap/index.php/about/15.html" target="_blank">
        <img src="__PUBLIC__/images/a_6.png" />
        <p>常见问题</p>
      </a>
    </li>
  </ul>
</div>
<div class="wrap mod_02 auto">
  <ul>
    <li class="pb_20"><a href="/wap/index.php/center.html"><img src="__PUBLIC__/images/img_1.jpg"></a></li>
    <li><a href="http://haijia.bjxueche.net/" target="_blank"><img src="__PUBLIC__/images/img_2.jpg"></a></li>
  </ul>
</div>
<div class="wrap auto">
  <div class="tit_1 t_bg1">
   <span class="s_bg1">班型推荐</span>
   <a href="/wap/index.php/show.html" class="more">更多</a>
  </div>
  <div id="tabs_01" class="tabs_1">
    <ul class="tabs_tit cle fix">
            <li><a href="#tabs11" class="a_1  selected">手动挡</a></li>
             <li><a href="#tabs12" class="a_1 ">自动挡</a></li>
             <li><a href="#tabs13" class="a_1 ">商务班</a></li>
             <li><a href="#tabs14" class="a_1 ">摩托车</a></li>
          </ul>
        <div class="list_01" id="tabs11">
      <ul>
               <li style="position:relative; height:100%" class="fix">
          <div class="">
            <div class="img">
             <a href="/wap/index.php/show/view/32.html">
              <img src="__PUBLIC__/images/201603251040567109.jpg">
             </a>
            </div>
            <div class="text">
             <div id="msg_txt" style=" overflow:hidden;">
			   约“惠”春天<br>
               价格：4200元<br>
               训练时间：周一至周五             </div>
            </div>
          </div>
          	<a href="/wap/index.php/show/car_msg/1/32.html" style="display:block; position:absolute; bottom:40px; left:38%;">
              <img src="__PUBLIC__/images/a_7.jpg">
             </a>
        </li>
               <li style="position:relative; height:100%" class="fix">
          <div class="">
            <div class="img">
             <a href="/wap/index.php/show/view/24.html">
              <img src="__PUBLIC__/images/201507141122598187.jpg">
             </a>
            </div>
            <div class="text">
             <div id="msg_txt" style=" overflow:hidden;">
			   C1手动挡比亚迪<br>
               价格：4700元<br>
               训练时间：周一至周五             </div>
            </div>
          </div>
          	<a href="/wap/index.php/show/car_msg/1/24.html" style="display:block; position:absolute; bottom:40px; left:38%;">
              <img src="__PUBLIC__/images/a_7.jpg">
             </a>
        </li>
               <li style="position:relative; height:100%" class="fix">
          <div class="">
            <div class="img">
             <a href="/wap/index.php/show/view/7.html">
              <img src="__PUBLIC__/images/201507271608555289.jpg">
             </a>
            </div>
            <div class="text">
             <div id="msg_txt" style=" overflow:hidden;">
			   C1手动挡定制班<br>
               价格：5500元<br>
               训练时间：周一至周五             </div>
            </div>
          </div>
          	<a href="/wap/index.php/show/car_msg/1/7.html" style="display:block; position:absolute; bottom:40px; left:38%;">
              <img src="__PUBLIC__/images/a_7.jpg">
             </a>
        </li>
        
      </ul>
    </div>
       <div class="list_01" id="tabs12">
      <ul>
               <li style="position:relative; height:100%" class="fix">
          <div class="">
            <div class="img">
             <a href="/wap/index.php/show/view/23.html">
              <img src="__PUBLIC__/images/201506021651493555.jpg">
             </a>
            </div>
            <div class="text">
             <div id="msg_txt" style=" overflow:hidden;">
			   C2自动挡（周一至周...<br>
               价格：4900元<br>
               训练时间：周一至周五             </div>
            </div>
          </div>
          	<a href="/wap/index.php/show/car_msg/1/23.html" style="display:block; position:absolute; bottom:40px; left:38%;">
              <img src="__PUBLIC__/images/a_7.jpg">
             </a>
        </li>
        
      </ul>
    </div>
       <div class="list_01" id="tabs13">
      <ul>
               <li style="position:relative; height:100%" class="fix">
          <div class="">
            <div class="img">
             <a href="/wap/index.php/show/view/22.html">
              <img src="__PUBLIC__/images/201505041222199993.jpg">
             </a>
            </div>
            <div class="text">
             <div id="msg_txt" style=" overflow:hidden;">
			   商务班<br>
               价格：6800元<br>
               训练时间：周一至周日             </div>
            </div>
          </div>
          	<a href="/wap/index.php/show/car_msg/1/22.html" style="display:block; position:absolute; bottom:40px; left:38%;">
              <img src="__PUBLIC__/images/a_7.jpg">
             </a>
        </li>
        
      </ul>
    </div>
       <div class="list_01" id="tabs14">
      <ul>
               <li style="position:relative; height:100%" class="fix">
          <div class="">
            <div class="img">
             <a href="/wap/index.php/show/view/18.html">
              <img src="__PUBLIC__/images/201505281044352407.jpg">
             </a>
            </div>
            <div class="text">
             <div id="msg_txt" style=" overflow:hidden;">
			   两轮摩托<br>
               价格：1600元<br>
               训练时间：周一至周日             </div>
            </div>
          </div>
          	<a href="/wap/index.php/show/car_msg/1/18.html" style="display:block; position:absolute; bottom:40px; left:38%;">
              <img src="__PUBLIC__/images/a_7.jpg">
             </a>
        </li>
        
      </ul>
    </div>
    
  </div>
</div>
<div class="wrap auto">
  <div class="tit_1 t_bg2">
  <span class="s_bg2">新闻中心</span>
  
  </div>
  <div id="tabs_01" class="tabs_1">
    <ul class="tabs_tit cle fix">
	          <li>
         <a href="#tabs21" class="a_2  selected">驾校公告</a>
        </li>
              <li>
         <a href="#tabs22" class="a_2 ">新闻资讯</a>
        </li>
              <li>
         <a href="#tabs23" class="a_2 ">海驾活动</a>
        </li>
       
    </ul>
            <div class="list_02 sideMen" id="tabs21">
          <a href="/wap/index.php/news/index/10.html" class="news_more">更多</a>
          <ul>
                            <li>
                  <p>
                     互联网注册、自主约考流程                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/356.html">
                      <img src="__PUBLIC__/images/201604161416103229.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/356.html">根据公安部“139”号令要求，从2016年5月份开始， 在全...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     最新班车时间调整通知丨4月18日起执行                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/355.html">
                      <img src="__PUBLIC__/images/201604121715338597.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/355.html">根据班车运行线路交通拥堵情况，我校定于从2016年4月18日...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     海淀驾校2016年清明节放假通知                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/350.html">
                      <img src="__PUBLIC__/images/201603281142582957.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/350.html">海淀驾校2016年清明节放假通知</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     【重要通知】关于启用夏季训练时段的通知（...                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/349.html">
                      <img src="__PUBLIC__/images/201603251756541483.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/349.html">为了给您提供更好的服务，经过半个月的测试，确定从3月29日开...</a>
                    </div>
                  </div>
                </li>
             
          </ul>
          <ul class="skin_3">
                            <li>
                  <p>
                     海淀驾校丨2015年度教学服务标兵名单公...                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/332.html">
                      <img src="__PUBLIC__/images/201602010937548639.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/332.html">在海淀驾校，有这样一个群体，TA们每天清晨站着整齐的队列迎接...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     2016年海淀驾校春节放假通知                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/329.html">
                      <img src="__PUBLIC__/images/201601251919383507.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/329.html">2016年海淀驾校春节放假通知</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     海淀驾校2016年元旦放假通知                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/306.html">
                      <img src="__PUBLIC__/images/201512231129467366.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/306.html">海淀驾校2016年元旦放假通知</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     海淀驾校科目一网络教学培训须知                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/284.html">
                      <img src="__PUBLIC__/images/201512031733439681.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/284.html">海淀驾校科目一网络教学培训须知</a>
                    </div>
                  </div>
                </li>
             
          </ul>
          <div class="more_2 tc">
            <img src="__PUBLIC__/images/a_8.jpg">
          </div>
       </div>
            <div class="list_02 sideMen" id="tabs22">
          <a href="/wap/index.php/news/index/11.html" class="news_more">更多</a>
          <ul>
                            <li>
                  <p>
                     我行我秀，海淀驾校教练大比武精彩视频                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/217.html">
                      <img src="__PUBLIC__/images/201510230921526841.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/217.html">Ta们是我们心中的榜样，Ta们是值得我们尊敬的人，我行我秀，...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     震撼上演丨海淀驾校30周年宣传片                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/215.html">
                      <img src="__PUBLIC__/images/201510220946004715.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/215.html">海驾30年，只为更好的你。</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     全国百家驾校齐聚海淀驾校，共同见证自律公...                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/213.html">
                      <img src="__PUBLIC__/images/201510211025311096.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/213.html">2015年10月18日，来自全国百家驾校齐聚海淀驾校，共同见...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     中国交通运输协会驾校联合会行业自律公约启...                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/211.html">
                      <img src="__PUBLIC__/images/201510210947599196.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/211.html">2015年10月18日，中国交通运输协会驾校联合会行业自律公...</a>
                    </div>
                  </div>
                </li>
             
          </ul>
          <ul class="skin_3">
                            <li>
                  <p>
                     2016在海驾学车必须知道的几件事                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/344.html">
                      <img src="__PUBLIC__/images/201603091013594561.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/344.html">请详细阅读《培训手册》和《学车指南》，你想知道的，上面都有答...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     2016年，驾考新规又发生了哪些变化                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/338.html">
                      <img src="__PUBLIC__/images/201602221055134034.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/338.html">2016年，驾考新规又发生了哪些变化？根据公安部修改的《机动...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     这个春节，你和谁在一起？                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/336.html">
                      <img src="__PUBLIC__/images/201602161145062251.jpg">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/336.html">这个春节，无论你是和父母、爱人、孩子、朋友一起过，还是一个人...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     教练加油，驾校执教还是“铁饭碗”                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/333.html">
                      <img src="__PUBLIC__/images/201602010946273357.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/333.html">自从直考要试点的政策出台后，诸如“试点非经营性的小型汽车驾驶...</a>
                    </div>
                  </div>
                </li>
             
          </ul>
          <div class="more_2 tc">
            <img src="__PUBLIC__/images/a_8.jpg">
          </div>
       </div>
            <div class="list_02 sideMen" id="tabs23">
          <a href="/wap/index.php/news/index/12.html" class="news_more">更多</a>
          <ul>
                            <li>
                  <p>
                     春天来了，我们约“惠”吧                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/348.html">
                      <img src="__PUBLIC__/images/201603251746228813.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/348.html">学车快、拿本快，周一至周五训练，最快40天拿本。同时支持自主...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     双12丨海驾五重大礼等着你                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/293.html">
                      <img src="__PUBLIC__/images/201512111100448029.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/293.html">海驾双12，现场送奖品，还有现金返还，未报名的可以参加，已经...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     远达驾校 —怒放双12，惊喜5重礼                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/281.html">
                      <img src="__PUBLIC__/images/201512011805027076.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/281.html">海驾双12，你做梦都想不到的5重好礼。</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     疯狂双11，海驾喊你来抢礼                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/247.html">
                      <img src="__PUBLIC__/images/201511091531588831.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/247.html">疯狂双11，海驾喊你来抢礼，不容错过的双重惊喜。</a>
                    </div>
                  </div>
                </li>
             
          </ul>
          <ul class="skin_3">
                            <li>
                  <p>
                     【校庆特惠班＋幸运大抽奖】重磅来袭！！                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/74.html">
                      <img src="__PUBLIC__/images/201507091416262516.jpg">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/74.html"></a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     “助力冬奥 畅游西山 驰名海驾”摄影大赛...                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/71.html">
                      <img src="__PUBLIC__/images/201506261027588929.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/71.html">“助力冬奥 畅游西山 驰名海驾”摄影大赛征稿启事</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     免费学车啦                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/62.html">
                      <img src="__PUBLIC__/images/201505041504294939.jpg">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/62.html">海驾三十年，豪礼大放送。亲爱的学员们，微信摇红包，报名抵学费...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     海驾三十年，活动抢先报！                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/news/view/63.html">
                      <img src="__PUBLIC__/images/201505041521575085.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/news/view/63.html">参与一战到底，赢积分抢排名，积分排名第一赢免费学车奖励，还在...</a>
                    </div>
                  </div>
                </li>
             
          </ul>
          <div class="more_2 tc">
            <img src="__PUBLIC__/images/a_8.jpg">
          </div>
       </div>
     
  </div>
</div>
<div class="wrap auto">
  <div class="tit_1 t_bg3">
  <span class="s_bg3">驾驶知识</span>
  
  </div>
  <div id="tabs_01" class="tabs_1">
    <ul class="tabs_tit cle fix">
	          <li>
         <a href="#tabs31" class="a_3  selected">驾驶技巧</a>
        </li>
              <li>
         <a href="#tabs32" class="a_3 ">学车视频</a>
        </li>
              <li>
         <a href="#tabs33" class="a_3 ">常见问题</a>
        </li>
       
    </ul>
            <div class="list_02 sideMen" id="tabs31">
          <a href="/wap/index.php/aboutlist/index/13.html" class="news_more">更多</a>
          <ul>
                            <li>
                  <p>
                     史上最全科目二通关技巧（三）：倒车入库                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/354.html">
                      <img src="__PUBLIC__/images/201604111453179646.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/354.html">学习了前两期内容，大家有没有驾驶教练车，上训练场操练两把呢？...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     史上最全科目二通关技巧（二）：侧方停车                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/353.html">
                      <img src="__PUBLIC__/images/201604111438116926.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/353.html">今天小海将同大家一起学习《史上最全科目二通关技巧》第二期内容...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     史上最全科目二通关技巧(一)：曲线行驶&...                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/352.html">
                      <img src="__PUBLIC__/images/201603301021067618.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/352.html">侧方停车为何多次压线？
曲线行驶为何老走直线？
坡道起步为何...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     学车必读丨如何培养车感                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/351.html">
                      <img src="__PUBLIC__/images/201603301011576282.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/351.html">“车感”对一个刚学车的人来说比较陌生，所以我们要先知道车感是...</a>
                    </div>
                  </div>
                </li>
             
          </ul>
          <ul class="skin_3">
                            <li>
                  <p>
                     海驾教练年度总结丨为什么就你拿证慢                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/346.html">
                      <img src="__PUBLIC__/images/201603091019427389.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/346.html">每个人性格不同，接受新鲜事物的能力也不同，可为什么偏偏你就拿...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     海驾教练年度总结丨为什么就你拿证慢                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/345.html">
                      <img src="__PUBLIC__/images/201603091019427389.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/345.html">每个人性格不同，接受新鲜事物的能力也不同，可为什么偏偏你就拿...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     学车必看丨科目二成败经验总结                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/341.html">
                      <img src="__PUBLIC__/images/201602260945408042.jpg">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/341.html">说起科目二考试，多数人的第一反应就是太难了，尤其在知道自己考...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     想要拿下科目三，你得学会这三招                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/340.html">
                      <img src="__PUBLIC__/images/201602240949469980.jpg">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/340.html">很多参加过路考的学员会抱怨路考太难了，眼看驾照就要到手了，一...</a>
                    </div>
                  </div>
                </li>
             
          </ul>
          <div class="more_2 tc">
            <img src="__PUBLIC__/images/a_9.jpg">
          </div>
       </div>
            <div class="list_02 sideMen" id="tabs32">
          <a href="/wap/index.php/aboutlist/index/14.html" class="news_more">更多</a>
          <ul>
                            <li>
                  <p>
                     【远达驾校】科目二考试流程                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/59.html">
                      <img src="__PUBLIC__/images/201505041424073298.jpg">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/59.html">海淀驾校科目二考试流程</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     【远达驾校】科目二侧方停车                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/58.html">
                      <img src="__PUBLIC__/images/201505041417218043.jpg">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/58.html">海淀驾校科目二教学视频侧方停车</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     【远达驾校】科目二倒车入库                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/57.html">
                      <img src="__PUBLIC__/images/201505041330188410.jpg">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/57.html">海淀驾校科目二倒车入库操作</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     【远达驾校】科目二曲线行走                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/60.html">
                      <img src="__PUBLIC__/images/201505041437183658.jpg">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/60.html">海淀驾校科目二曲线行走操作步骤</a>
                    </div>
                  </div>
                </li>
             
          </ul>
          <ul class="skin_3">
                            <li>
                  <p>
                     【远达驾校】科目三直线行驶操作                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/55.html">
                      <img src="__PUBLIC__/images/201505041313282511.jpg">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/55.html">海淀驾校教学视频科目三直线行驶操作</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     【远达驾校】科目三夜间行驶                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/56.html">
                      <img src="__PUBLIC__/images/201505041326065339.jpg">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/56.html">海淀驾校科目三夜间行驶及模拟使用灯光。</a>
                    </div>
                  </div>
                </li>
             
          </ul>
          <div class="more_2 tc">
            <img src="__PUBLIC__/images/a_9.jpg">
          </div>
       </div>
            <div class="list_02 sideMen" id="tabs33">
          <a href="/wap/index.php/aboutlist/index/15.html" class="news_more">更多</a>
          <ul>
                            <li>
                  <p>
                     海淀驾校学员问题总结，总有一个你不知道                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/288.html">
                      <img src="__PUBLIC__/images/201512071700097416.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/288.html">海淀驾校学员问题总结，总有一个你不知道.</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     海淀驾校学车流程之科目四                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/234.html">
                      <img src="__PUBLIC__/images/201511021221578283.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/234.html">历经九九八十一难终于要修成正果了，最后科目四关键时刻，千万要...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     海淀驾校学车流程之科目二                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/231.html">
                      <img src="__PUBLIC__/images/201510301120414076.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/231.html">经历了科目一，相信你对海驾也不再陌生。今天小海和大家分享科目...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     海淀驾校学车流程之科目三                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/230.html">
                      <img src="__PUBLIC__/images/201510301018271343.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/230.html">一路披荆斩棘，终于渡过了科目二难关，但在面对科目三时也不可掉...</a>
                    </div>
                  </div>
                </li>
             
          </ul>
          <ul class="skin_3">
                            <li>
                  <p>
                     海淀驾校学车流程之科目一                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/205.html">
                      <img src="__PUBLIC__/images/201510150909539082.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/205.html">第一次来海驾，充满新奇和挑战，人生地不熟又该如何顺利完成自己...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     海淀驾校学车流程之报名                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/201.html">
                      <img src="__PUBLIC__/images/201510130939243918.png">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/201.html">学车从报名开始，那么在报名时会遇到哪些问题，需要什么资料呢？...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     科目二考试什么时候刷卡，在哪刷？                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/82.html">
                      <img src="__PUBLIC__/images/201507301100531740.jpg">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/82.html">1、科目二考试前集中的学员不用刷卡；
2、请在京海教学楼右侧...</a>
                    </div>
                  </div>
                </li>
                            <li>
                  <p>
                     科目三训练，如何找到自己的训练车？                  </p>
                  <div class="xl fix">
                    <div class="img">
                     <a href="/wap/index.php/aboutlist/view/83.html">
                      <img src="__PUBLIC__/images/201507301117018006.jpg">
                     </a>
                    </div>
                    <div class="text">
					 <a href="/wap/index.php/aboutlist/view/83.html">1、科目三训练手动挡的学员刷完卡后到员工之家前面乘坐班车，到...</a>
                    </div>
                  </div>
                </li>
             
          </ul>
          <div class="more_2 tc">
            <img src="__PUBLIC__/images/a_9.jpg">
          </div>
       </div>
     
  </div>
</div>
<div class="wrap auto">
  <div class="tit_1 t_bg4">
   <span class="s_bg4">驾校环境</span>
   <a href="/wap/index.php/cases.html" class="more">更多</a>
  </div>
  <div class="mod_03">
    <ul class="fix">
     	  <li>
		<div class="img">
		  <a href="/wap/index.php/cases/view/3.html">
		   <img src="__PUBLIC__/images/201511021604236616.png" />
           <div class="pf_img"><img src="__PUBLIC__/images/img_pf1.png"></div>
		  </a>
		</div>
		<p class="tc">
		  <a href="/wap/index.php/cases/view/3.html">
		   海淀驾校办公楼		  </a>
		</p>
	  </li>
	 	  <li>
		<div class="img">
		  <a href="/wap/index.php/cases/view/2.html">
		   <img src="__PUBLIC__/images/201505032127149294.jpg" />
           <div class="pf_img"><img src="__PUBLIC__/images/img_pf1.png"></div>
		  </a>
		</div>
		<p class="tc">
		  <a href="/wap/index.php/cases/view/2.html">
		   小桥流水		  </a>
		</p>
	  </li>
	 	  <li>
		<div class="img">
		  <a href="/wap/index.php/cases/view/1.html">
		   <img src="__PUBLIC__/images/201505032128379122.jpg" />
           <div class="pf_img"><img src="__PUBLIC__/images/img_pf1.png"></div>
		  </a>
		</div>
		<p class="tc">
		  <a href="/wap/index.php/cases/view/1.html">
		   驾校班车		  </a>
		</p>
	  </li>
	 	  <li>
		<div class="img">
		  <a href="/wap/index.php/cases/view/4.html">
		   <img src="__PUBLIC__/images/201505032130504472.jpg" />
           <div class="pf_img"><img src="__PUBLIC__/images/img_pf1.png"></div>
		  </a>
		</div>
		<p class="tc">
		  <a href="/wap/index.php/cases/view/4.html">
		   训练场		  </a>
		</p>
	  </li>
	     </ul>
    <ul class="fix skin_3">
     	  <li>
		<div class="img">
		  <a href="/wap/index.php/cases/view/5.html">
		   <img src="__PUBLIC__/images/201505032132174956.jpg" />
           <div class="pf_img"><img src="__PUBLIC__/images/img_pf1.png"></div>
		  </a>
		</div>
		<p class="tc">
		  <a href="/wap/index.php/cases/view/5.html">
		   京海教学楼		  </a>
		</p>
	  </li>
	 	  <li>
		<div class="img">
		  <a href="/wap/index.php/cases/view/6.html">
		   <img src="__PUBLIC__/images/201505032135132595.jpg" />
           <div class="pf_img"><img src="__PUBLIC__/images/img_pf1.png"></div>
		  </a>
		</div>
		<p class="tc">
		  <a href="/wap/index.php/cases/view/6.html">
		   训练场秋景图		  </a>
		</p>
	  </li>
	 	  <li>
		<div class="img">
		  <a href="/wap/index.php/cases/view/7.html">
		   <img src="__PUBLIC__/images/201505032136558838.jpg" />
           <div class="pf_img"><img src="__PUBLIC__/images/img_pf1.png"></div>
		  </a>
		</div>
		<p class="tc">
		  <a href="/wap/index.php/cases/view/7.html">
		   海驾美景		  </a>
		</p>
	  </li>
	 	  <li>
		<div class="img">
		  <a href="/wap/index.php/cases/view/8.html">
		   <img src="__PUBLIC__/images/201511021605103624.png" />
           <div class="pf_img"><img src="__PUBLIC__/images/img_pf1.png"></div>
		  </a>
		</div>
		<p class="tc">
		  <a href="/wap/index.php/cases/view/8.html">
		   海驾远景图		  </a>
		</p>
	  </li>
	     </ul>
    <div class="more_2 tc"><img src="__PUBLIC__/images/a_10.jpg"></div>
  </div>
</div>
<script type="text/javascript">
  $("#tabs_01 ul").idTabs("");
  
  jQuery(".sideMen").slide({titCell:"li p",targetCell:".xl",trigger:"click"});
  
  $(function(){
	  $(".skin_3").hide();
	  $(".more_2").click(function(){
		  $(this).siblings(".skin_3").toggle();
	  })
  })
</script>
<!--主体--><!--主体结束-->
<!--底部开始-->
<footer class="footer wrap auto">
  <div class="mod_04 fix">
    <ul>
      <li>
        <a><p>用户指南</p></a>
		         <a href="/wap/index.php/about/15.html" target="_blank">学车流程</a>
                 <a href="/wap/index.php/show.html" target="_blank">班型介绍</a>
                 <a href="/wap/index.php/about/6.html" target="_blank">班车服务</a>
                 <a href="/wap/index.php/about/14.html" target="_blank">报名须知</a>
                 <a href="/wap/index.php/center.html" target="_blank">报名中心</a>
              </li>
      <li>
        <a><p>快速链接</p></a>
        <a href="/wap/index.php/member_reg/register.html">会员注册</a>
        <a href="http://101.200.202.203/weixin/thinkphp/index.php/Home/online/online">在线报名</a>
                 <a href="http://haijia.bjxueche.net/" target="_blank">网上约车</a>
                 <a href="http://haijia.bjxueche.net/" target="_blank">网上约考</a>
                 <a href="http://haijia.bjxueche.net/" target="_blank">考试查询</a>
                 <a href="http://weibo.com/ilovehaijia" target="_blank">友情链接</a>
              </li>
      <li>
        <a><p>特色服务</p></a>
		          <a href="/wap/index.php/about/32.html">团体报名中心</a>
                  <a href="/wap/index.php/about/17.html">免费上门服务</a>
                  <a href="/wap/index.php/about/39.html"></a>
              </li>
      <li>
        <a><p>互动专区</p></a>
        <a href="/wap/index.php/message.html">校长信箱</a>
                 <a href="/wap/index.php/message/1.html" target="_blank">投诉建议</a>
                 <a href="http://weibo.com/p/1006065183159315/home?from=page_100606&mod=TAB#place" target="_blank">新浪微博</a>
                 <a href="/wap/index.php/about/39.html" target="_blank">驾校论坛</a>
              </li>
    </ul>
  </div>
  <div class="mod_05 fix">
    <div class="text_1 f_l"><img src="__PUBLIC__/images/tb_2.jpg"></div>
    <div class="text_2 f_l">
      <div class="c_1">报名热线<p>010-62452288</p></div>
      <div class="c_2">分享至</div>
      <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
    </div>
    <div class="text_3 f_r">
               010-62452881（咨询1）<br />
               010-62452882（咨询2）<br />
           </div>
  </div>
</footer>
<div class="wrap mod_06 auto fix">
  <ul>
    <li><a href="http://101.200.202.203/weixin/thinkphp/index.php/Home/online/online"><img src="__PUBLIC__/images/a_11.jpg"></a></li>
    <li><a href="http://wpa.qq.com/msgrd?v=3&uin=800052655&site=800052655&menu=yes" target="_blank"><img src="__PUBLIC__/images/a_12.jpg"></a></li>
    <li><a href="http://mp.weixin.qq.com/s?__biz=MzA4MjgzNzQwNg==&mid=204398035&idx=1&sn=820bae7e367cd247f0c0d7d3477228a1#rd" target="_blank"><img src="__PUBLIC__/images/a_13.jpg"></a></li>
    <li><a href="http://weibo.com/ilovehaijia" target="_blank"><img src="__PUBLIC__/images/a_14.jpg"></a></li>
  </ul>
</div>
<!--底部结束-->
</body>
</html>
