body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:5px;
  width:1250px;
  height:115px;
  opacity:0.5;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:115px;
}
#u1 {
  position:absolute;
  left:2px;
  top:50px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:145px;
  width:233px;
  height:795px;
  opacity:0.200000002980232;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:795px;
}
#u3 {
  position:absolute;
  left:2px;
  top:390px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:397px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:100px;
  top:429px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:70px;
  height:62px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:62px;
}
#u9 {
  position:absolute;
  left:2px;
  top:23px;
  width:66px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:326px;
  top:41px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1090px;
  top:22px;
  width:136px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:110px;
  top:39px;
  width:186px;
  height:24px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:306px;
  top:39px;
  width:10px;
  height:32px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u17 {
  position:absolute;
  left:10px;
  top:120px;
  width:1250px;
  height:25px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:25px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:155px;
  width:233px;
  height:41px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:41px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:80px;
  top:218px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:40px;
  top:240px;
  width:180px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u24 {
  position:absolute;
  left:194px;
  top:349px;
  width:21px;
  height:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:80px;
  top:265px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:40px;
  top:287px;
  width:180px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u29 {
  position:absolute;
  left:190px;
  top:213px;
  width:24px;
  height:27px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:80px;
  top:355px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:40px;
  top:377px;
  width:180px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u34 {
  position:absolute;
  left:191px;
  top:260px;
  width:24px;
  height:27px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:44px;
  top:220px;
  width:27px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:40px;
  top:267px;
  width:27px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:40px;
  top:353px;
  width:27px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:243px;
  top:147px;
  width:1013px;
  height:33px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:33px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:1009px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1149px;
  top:150px;
  width:100px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1149px;
  top:150px;
  width:100px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:270px;
  top:155px;
  width:137px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:243px;
  top:147px;
  width:1013px;
  height:33px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:33px;
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:1009px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:270px;
  top:155px;
  width:137px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:80px;
  top:312px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:40px;
  top:334px;
  width:180px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u57 {
  position:absolute;
  left:191px;
  top:307px;
  width:24px;
  height:27px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:40px;
  top:314px;
  width:27px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:100px;
  top:458px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:277px;
  top:213px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:260px;
  top:260px;
  width:980px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:260px;
  top:286px;
  width:980px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:963px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:980px;
  height:1px;
}
#u68 {
  position:absolute;
  left:258px;
  top:329px;
  width:980px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:963px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:980px;
  height:1px;
}
#u69 {
  position:absolute;
  left:260px;
  top:377px;
  width:980px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:963px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:980px;
  height:1px;
}
#u70 {
  position:absolute;
  left:260px;
  top:208px;
  width:10px;
  height:27px;
}
#u70_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u70_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u70_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:27px;
}
#u71 {
  position:absolute;
  left:290px;
  top:307px;
  width:959px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:762px;
  top:304px;
  width:46px;
  height:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:18px;
}
#u74 {
  position:absolute;
  left:2px;
  top:1px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:290px;
  top:352px;
  width:959px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:762px;
  top:349px;
  width:46px;
  height:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:18px;
}
#u78 {
  position:absolute;
  left:2px;
  top:1px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:253px;
  top:260px;
  width:1006px;
  height:335px;
  opacity:0.200000002980232;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:335px;
}
#u80 {
  position:absolute;
  left:2px;
  top:160px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
