<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="__PUBLIC__/css/css.css" rel="stylesheet" />
<title>北京远达驾校</title>
</head>
</head>   
<body>
	<div id="main-text">
    	<h3>北京远达驾校</h3>
        <div class="text">
        	<div class="back"><img src="__PUBLIC__/images/001.jpg" width="50"/></div>
        <img src="" width="100%"/>
    	地理位置
<p>远程驾校在展览馆路地区、知春路大运村地区、安立路北苑地区、西三旗、安贞桥地区、北太平庄地区、学院路地区、紫竹桥地区、苏州桥地区健翔桥地区、清河地区、安宁庄地区、上地地区、史各庄地区设立了海淀驾校展览路报名中心、知春路报名中心、北苑路报名中心、西三旗报名中心、安贞桥报名中心、北太平庄报名中心、学院路报名中心、紫竹桥报名中心、苏州桥报名中心、健翔桥报名中心、清河报名中心、安宁庄报名管理处、永旺商城报名中心，为周边高校、科研院所和企事业单位的海驾学员提供现场报名、上门报名服务。工作时间为周一至周日早8:30至晚18:00，满意在海驾，海淀驾校永远欢迎您的到来!</p>
 
背景资料
<p> 自从公安交警部门制定出台关于印发《加强机动车驾驶人管理指导意见的通知》，其中有一条要求五一节后驾考科目三增加安全文明驾驶知识内容。今天小编就安全文明驾驶知识内容做一部分整理，方便大家在考前做到心中有数，以下内容供参考。 一、上、下车及驾驶姿势

　　驾驶人在上车前，应仔细进行安全检查，确认安全。上车前不观察周围情况或开启车门直接上车，就会存在安全隐患。因此，驾驶人进入驾驶室前，首先应观察车辆周围情况并确认安全。

　　1、上车动作

　　（1）安全确认。确认车辆前后均无影响安全起步的障碍物等。

　　（2）上车。打开车门，按右脚、腰部、上身左脚的顺序上车。

　　（3）关车门。将车门关到离车门框10厘米左右，再用力。关门后要再次确定车门是否关严。

　　（4）锁车门。关好车门后，要从驾驶室内锁好车门。

　　2、下车动作

　　（1）安全确认。通过室内，外后视镜和侧头观察前方和后面情况，确认无机动车、非机动车和行人等临近。

　　（2）开车门。打开车门锁，将车门先打开一点观察后方，确认安全后，再打开车门。

　　（3）下车。左手控制车门，按右左脚、上身、腰部、右脚的顺序下车。

　　（4）关车门。先将车门关至距车门10厘米左右，再用力关严。

　　（5）锁车门。确认锁好车门后再离开。

　　3、正确的驾驶姿势

　　保持正确的驾驶姿势，驾驶人能够方便地操纵各操装置，使全身保持自然、放松的状态。正确的驾驶姿势是保证安全基础；错误的姿势会影响操作，造成安全隐患。

　　二、操作装置的规范操作方法

　　1、转向盘

　　（1）双手握在转向盘两侧盘沿，食指到小指四个手指由内外自然地握住转向盘，拇指沿着转向盘缘自然地按住，注意不要握得太紧。

　　（2）向左转动转向盘时，左手为主向右开始转动，右手辅助转动；左手转动器不方便的位置后，右手握住转向盘上方，左手松开。右手转动转向盘，左手转换姿势，回原位。

　　（3）向左转动转向盘时，右手为主向左开始转动，载手辅助转动。

　　右手转动到不方便的位置后，左手握住转向盘上方，右手松开。

　　左手转动转向盘，右手转换姿势，回原位。

　　（4）转向盘回原位要采用与向左、右转动转向盘相反的要领，手往相反方向转动。也可利用转向盘自动回正力，自回位。

　　2、变速器操纵杆（简称变速杆），可变换变速器内相应的各挡齿轮，使不同比列的变速器齿轮的全力，实现加速、减速或者倒车。

　　3、驻车制动器操纵机构

　　驻车制动器用于长时间停车或在上坡路段的起步。不同车型驻车制动器操纵装置不尽相同，有手动驻车制动器操纵杆和脚踏驻车制动器踏板两种。

　　4、离合器踏板

　　（1）踏离合器踏板，应将左脚前掌置于离合器踏板中央，用脚掌踏下或松抬踏板，踏离合器踏板时应该一次到位，松抬时自然地逐渐将膝盖部上抬。

　　（2）离合器半联动指力不完全传递状态（用于起步等状态）。掌握好半联动，才可以实现平稳起步。

　　5、制动踏板

　　制动踏板用于减速、停车。踏板离合器踏板，应将右脚前掌置于在制动踏板中央，踏下或松开踏板。踏制动踏板时，不能注视踏板，必须靠脚和腿的感觉进行操作。

　　6、加速踏板

　　踏加速踏板，应将右脚脚跟置于地面，以脚跟为支点，脚掌轻轻踏在踏板上。操纵时脚跟不动，脚前掌轻轻踏下或抬起，做到“轻踏缓抬”。

　　7、仪表

　　常见的仪表有电流表、燃油表、机油压表、水温表、车速里程表（日里程表）、发动机转速表等。

　　（1）电流表与充电指示灯，用以指示蓄电池充电或放电的电流值，监控充电电路工作是否正常。电流表指示在中间0的位置，指示灯不亮，打开点火开关，电流表指针指向“一”的一侧，指示灯亮，表示蓄电池放电，发机动向蓄电池充电时，电流表指针向“+”的一侧指示灯熄灭。

　　（2）燃油表与液面报警灯，用以指示油箱内存油量，表上标有0、1/2、1三个读数，分别表示“空、“一半”、“满”。进汽车上燃油表上标有FUEL字样，指针指向F表示空，当最低燃油液面报警灯亮时，提醒需要加注燃油。

　　（3）机油压力表用以指示发动机运转时润滑系主油道内机油的压力，机油压力报警灯是发动机机油压力过低的报警装置。接通点火开关，指针摆在0位置，报警灯亮，发动机怠速运转时，机油压力不低于800千帕，报警灯熄灭，发动机正常运转，机油压力应在300~400千帕之间。

　　（4）水温表用以指示发动机冷却液的温度，单位摄氏度，打开点火灯开关，水温表显示温度，温度报警灯瞬间闪烁且或发动机后熄灭，标有字母H、C的水温表，指针指向H区表示过热，指向C区表示温度过低，指抽两个字母之间位置表示温度正常，冷却液温度过高或冷却液液面过低时，报警灯亮。

　　（5）车速里程表一般由速度表、里程表、日里表组成。速度表指示汽车行驶速度；里程表累计行驶总里程数；日里程表用于记录一天或某段区行驶总里程数；按回零位按扭至0位后开始计数。

　　（6）发动机转速表用于调整发动机怠速时检视转速，检视发动机适时的每分钟转速。电子转速表的指示器可以用模拟或数字形式显示转速数值。转速表上有红色示警限数，发动机转速不得超过红色警区。

　　（7）制动报警灯是驻车制动器及制动系统故障指示灯。驻车制动器操纵杆拉起（或踏板踏下）时，指示灯亮，颜色为红色，松开且，指示宁熄灭。行驶途中该灯亮起，表示制动系统出了问题或故障。

　　（8）开门报警灯是车门打开时的指示灯，车上任何一扇车门打开或关闭不严时，指示灯亮，颜色为红色。部分车辆没有左右两侧门指示灯，分别指示左或右一侧车门开或关闭不严。

　　（9）安全带报警是提示安全带连接一断开指示灯。安全带插头未插入固定扣时，指示灯亮。颜色为红色；插头插入固定扣时，指示灯灭。

　　（10）危险报警闪光灯也称为故障停车信号灯，一般与转向信号灯、停车信号灯共用，有的车辆单独设置。打开危险报警闪光开关，所有的转向信号灯和停车信号灯同时闪烁。

　　（11）倒车信号指示灯及时报警是倒车时的报警装置。鼗变速器操纵挂入倒档时，倒车信号灯亮，报警器发出断续的报警声，用以警告车后的行人和车辆。

　　8、其他操纵件

　　（1）点火开关用于接通或切断起动机，点火和电器线路。点火开关一般设有四个位置，分别标注0或look（插入或拔出点火花钥匙位置，在此位置时，转向盘会被锁住）、I或ACC（在此位置时，发动机关闭，其他车用电器可正常使用）、II或ON（发动机工作位置）、III或START（起动机工作位置）。

　　（2）喇叭按钮一般位于转向盘顶端，少数车辆安装地一侧手柄或组合开关上。按下按钮时喇叭响，松开按钮停止喇叭。

　　（3）灯光，信号组合开关是控制转向灯，照明灯和信号灯光的装置，大多数用左手操纵。常见的有旋转—提拉式。

　　（4）风窗玻璃乱水器开关，是控制乱水器的操作装置，大多数安装地转向盘右下方转向柱上，用右手操纵，将开关手柄下拉或向上推，可选择不同的乱刷挡位。

　　（5）防雾灯开关是控制前后防雾灯的，打载前雾灯开关，前雾指示灯、前雾灯亮，采开后雾灯开关，后雾害指示灯亮，后雾灯亮。部分车辆前、后雾灯只有在示廓灯或边灯、近光灯和远光灯亮时才工作。

　　（6）后视镜操纵杆是操纵室外后视镜和室内后视镜操纵件，车外后视镜手动操纵杆位于车辆前门内侧，可在车内4个方向调整车外后视镜。室内后视镜调整，可扳动扳钮使后视镜上下转动一个角度，扳回扳钮，后视镜恢复原位。

　　（7）行李舱门手柄是打开行李舱的操纵件，拉起手柄或按下按钮行李打开；关闭行李舱门从车外部操作，抓住行李舱门内衬上的手把往下拉，至3/4行程，然后可在外部舱门按到底。

　　（8）发动机盖手柄是打开发动机盖的操纵件，拉起手柄或按下按钮发动机盖打开。提起发动机罩盖边缘上锁舌，即可掀开发动机盖，关闭时，从外部放下发动机机盖，落到底就位并卡紧。
       </div>	
    </div>
</body>
</html>
