<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
    <link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <script type="__PUBLIC__/text/javascript">

    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>


</head>


<body style="background:#FFF8ED;">
<div class="rightinfo">
<table class="tablelist" border="1" cellspacing="0">
 <tr>
     <th><a href="#">教练员</a></th>
     <th><a href="#">其他员工</a></th>
 </tr>
</table>

 <table class="tablelist">
 <div id="coach">
     <thead>
     <tr>
         <th>序号</th>
         <th>编号</th>
         <th>姓名</th>
         <th>身份证号</th>
         <th>出生年月</th>
         <th>性别</th>
         <th>教练证编号</th>
         <th>教练证有效期</th>
         <th>合同结束日期</th>
         <th>联系电话</th>
         <th>操作</th>
     </tr>
     </thead> 
           <foreach name="coach" item="vo" >
              <tr>
                  <td>{$vo.staff_id}</td>
                  <td>{$vo.staff_sn}</td>
                  <td>{$vo.staff_name}</td>
                  <td>{$vo.staff_idcard}</td>
                  <td>{$vo.staff_year}</td>
                  <td>{$vo.staff_sex}</td>
                  <td>{$vo.coach_sn}</td>
                  <td>{$vo.coach_validity}</td>
                  <td>{$vo.staff_end_year}</td>
                  <td>{$vo.staff_tel}</td>
                  <td>
                      <if condition="$vo.staff_job eq 1 ">
                          删除
                      <else />
                          已离职
                      </if>
                  </td>
          
              </tr>
          </foreach>
                  </div>
        <div id="staff"></div>
    </table>

</div>

</body>

</html>

