<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="__PUBLIC__/admin/js/jquery.js"></script>

<script type="text/javascript">
$(function(){   
    //导航切换
    $(".menuson .header").click(function(){
        var $parent = $(this).parent();
        $(".menuson>li.active").not($parent).removeClass("active open").find('.sub-menus').hide();
        
        $parent.addClass("active");
        if(!!$(this).next('.sub-menus').size()){
            if($parent.hasClass("open")){
                $parent.removeClass("open").find('.sub-menus').hide();
            }else{
                $parent.addClass("open").find('.sub-menus').show(); 
            }
            
            
        }
    });
    
    // 三级菜单点击
    $('.sub-menus li').click(function(e) {
        $(".sub-menus li.active").removeClass("active")
        $(this).addClass("active");
    });
    
    $('.title').click(function(){
        var $ul = $(this).next('ul');
        $('dd').find('.menuson').slideUp();
        if($ul.is(':visible')){
            $(this).next('.menuson').slideUp();
        }else{
            $(this).next('.menuson').slideDown();
        }
    });
})  
</script>



<script>
    $("#school").click(function(){
        var obj=document.getElementById('driving');
        //alert(obj.style.display);
        if(obj.style.display=='block')
        {
            $("#driving").hide();
        }else
        {
            $("#driving").show();
        }
       
    })

    /*学员*/
     $("#student").click(function(){
        var obj=document.getElementById('stu');
        //alert(obj.style.display);
        if(obj.style.display=='block')
        {
            $("#stu").hide();
        }else
        {
            $("#stu").show();
        }
       
    })
</script>  

</head>

<body style="background:#fff3e1;">

<!--高级权限和普通权限区分-->
<if condition="$_COOKIE['roleid'] eq 7">


<!--高级权限start-->
<div class="lefttop"><span></span>
    超级管理员
    </div>

    <foreach name="arr" item="v">

<dl class="leftmenu">   
    <dd>
    <div class="title">
    <span><img src="__PUBLIC__/admin/images/leftico01.png" /></span><?php echo $v['privilege_name'];?>
    </div>
        <ul class="menuson">

        <foreach name="v.child" item="vv">

        <li>
            <div class="header">
            <cite></cite>
            <a href="javascript:void(0);" target="rightFrame"><?php echo $vv['privilege_name'];?></a>
            <i></i>
            </div>

            <foreach name="vv.childs" item="vo">

            <ul class="sub-menus">
            <li><a href="__APP__/Home/<?php echo $vo['privilege_controller'];?>/<?php echo $vo['privilege_method'];?>" target="rightFrame"><?php echo $vo['privilege_name'];?></a></li>
            </ul> 

            </foreach>

        </li>

         </foreach>

        </ul>    
    </dd>
    </dl>

    </foreach>

<!--高级权限end-->
    


<else />

<!--普通权限start-->
    <div class="lefttop"><span></span>
    <?php
            if($_COOKIE['rolename']=="学员"){
                echo "学员端";
            }else{
                echo "驾校端";
            }
        ?>
    </div>
    
    <dl class="leftmenu">   
    <dd>
    <div class="title">
    <span><img src="__PUBLIC__/admin/images/leftico01.png" /></span><?php echo $_COOKIE['rolename'];?>
    </div>
        <ul class="menuson">
        <foreach name="arr" item="v">
        <li>
        
            <div class="header">
            <cite></cite>
            <a href="javascript:void(0);" target="rightFrame"><?php echo $v['privilege_name'];?></a>
            <i></i>
            </div>
            <foreach name="v.child" item="vv">
            <ul class="sub-menus">
            <li><a href="__APP__/Home/<?php echo $vv['privilege_controller'];?>/<?php echo $vv['privilege_method'];?>" target="rightFrame"><?php echo $vv['privilege_name'];?></a></li>
            
            </ul>
            </foreach>
           
        </li>
         </foreach>
        </ul>    
    </dd>
    </dl>
    <!--普通权限end-->

</if>
    
</body>
</html>
