<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".click").click(function(){
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function(){
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function(){
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function(){
                $(".tip").fadeOut(100);
            });

        });
    </script>


</head>


<body style="background:#FFF8ED;">

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">教练管理</a></li>
        <li><a href="#">教练排课</a></li>
    </ul>
</div>

<div class="rightinfo">

    <div class="tools">

        <ul class="toolbar">
            <li class="click">教练名称:<input type="text" name="coach_name"></li>
            <li class="click">排课日期: <input class="laydate-icon" onclick="laydate()" id='laydate'></li>
            <li><input type="button" value="查找" onlick="search()"></li>
        </ul>
    </div>
    <div class="tools">

       <ul class="toolbar">
           <li>场内训练<div style="height: 18px;width: 20px; background-color: #00bf00;float: left; margin-top: 7px;margin-left: 5px;margin-right: 5px;"></div></li>
           <li>独立驾驶<div style="height: 18px;width: 20px; background-color: #0000FF;float: left; margin-top: 7px;margin-left: 5px;margin-right: 5px;"></div></li>
           <li>场内考核<div style="height: 18px;width: 20px; background-color: #5bb75b;float: left; margin-top: 7px;margin-left: 5px;margin-right: 5px;"></div></li>
           <li>场外训练<div style="height: 18px;width: 20px; background-color: #006dcc;float: left; margin-top: 7px;margin-left: 5px;margin-right: 5px;"></div></li>
           <li>同车互动<div style="height: 18px;width: 20px; background-color: #dca571;float: left; margin-top: 7px;margin-left: 5px;margin-right: 5px;"></div></li>
           <li>场外考核<div style="height: 18px;width: 20px; background-color: #dc4e00;float: left; margin-top: 7px;margin-left: 5px;margin-right: 5px;"></div></li>
           <li>违约<div style="height: 18px;width: 20px; background-color: #ff0000;float: left; margin-top: 7px;margin-left: 5px;margin-right: 5px;"></div></li>
           <li>预约<div style="height: 18px;width: 20px; background-color: #FFFFFF;float: left; margin-top: 7px;margin-left: 5px;margin-right: 5px;"></div></li>
           <li>可预约<div style="height: 18px;width: 20px; background-color: #a2a2a2;float: left; margin-top: 7px;margin-left: 5px;margin-right: 5px;"></div></li>
       </ul>
    </div>

<h3>已排课的显示</h3>
    <table class="tablelist">
        <thead>
        <tr>
            <th>教练员</th>
            <th>使用车辆</th>
            <th>7:00-8:00</th>
            <th>8:00-9:00</th>
            <th>9:00-10:00</th>
            <th>10:00-11:00</th>
            <th>11:00-12:00</th>
            <th>12:00-12:30</th>
            <th>12:30-13:30</th>
            <th>13:30-14:30</th>
            <th>14:30-15:30</th>
            <th>15:30-16:30</th>
            <th>16:30-17:30</th>
            <th>17:30-18:00</th>
            <th>18:00-19:00</th>
            <th>19:00-20:00</th>
            <th>20:00-21:00</th>
        </tr>
        </thead>
        <tbody>
       <?php foreach($order as $k=>$v){?>
        <tr>
            <td><?php echo $v['staff_name']?></td>
            <td><?php echo $v['car_number']?></td>
            <?php foreach($v['student_name'] as $key=>$val){?>


            <?php if($v['time'][$key]=='1'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='2'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='3'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='4'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='5'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='6'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='7'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='8'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='9'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='10'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='11'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='12'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='13'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='14'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php if($v['time'][$key]=='15'){?>
            <td><?php echo $val?></td>
            <?php }else{?>
            <td><?php echo "未预约";?></td>
            <?php }?>

            <?php }?>

        </tr>
<?php }?>

        </tbody>
    </table>



</div>
</body>
<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
</script>
<script type="text/javascript" src="__PUBLIC__/date/laydate/laydate.js"></script>
</html>



