<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".click").click(function(){
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function(){
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function(){
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function(){
                $(".tip").fadeOut(100);
            });

        });
    </script>


</head>


<body style="background:#FFF8ED;" id="div">

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">车辆管理</a></li>
        <li><a href="#">车辆更换</a></li>
    </ul>
</div>

<div class="rightinfo">

    <div class="tools">

        <ul class="toolbar">
            <li class="click">车牌号:<input type="text" name="car_number" id="car_number"></li>
            <li class="click">申请人:<select name="replace_name" id="replace_name">
                <option value="-1">请选择</option>
                <foreach name="coachMess" item="coachMess">
                    <option value="{$coachMess.staff_id}">{$coachMess.staff_name}</option>
                </foreach>
            </select></li>
            <li>日期: <input class="laydate-icon" onclick="laydate()" id='laydate'></li>
            <li><input type="button" value="查找" onclick="searchvalue()"></li>
        </ul>


        <ul class="toolbar1">
            <li><span><img src="__PUBLIC__/admin/images/t05.png" /></span><a href="__APP__/Home/Administration/vehreplaceadd">申请换车</a></li>
        </ul>

    </div>
    <script>
        function searchvalue()
        {

            var car_number=$('#car_number').val();
            var replace_name=$('#replace_name').val();
            var laydate=$('#laydate').val();

            $.ajax({
                url: "__APP__/Home/Administration/replacesearch",
                type: 'get',
                data: {'car_number':car_number,'replace_name':replace_name,'laydate':laydate},
                success: function (data) {
                    //alert(data)
                    $("#div").html(data);
                }
            })
        }
    </script>

    <table class="tablelist">
        <thead>
        <tr>

            <th>申请人</th>
            <th>更换时间</th>
            <th>更换详情</th>
            <th>换车原因</th>
            <th>处理人</th>

        </tr>
        </thead>
        <tbody>
<foreach name="replace" item="rep">
        <tr>

            <td>{$rep.staff_name}</td>
            <td>{$rep.replace_time|date="Y-m-d H:i:s",###}</td>
            <td>{$rep.car_number}-->{$rep.after_number}</td>
            <td>{$rep.replace_reason}</td>
            <td>{$rep.deal_name}</td>
        </tr>
</foreach>

        </tbody>
    </table>

    


</div>
</body>
<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
</script>
<script type="text/javascript" src="__PUBLIC__/date/laydate/laydate.js"></script>
</html>



