<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
    <link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <script type="__PUBLIC__/text/javascript">

</script> 


</head>


<body style="background:#FFF8ED;">
    
<div class="formbody">

    <div class="formtitle"><span>车辆管理</span></div>
    <form action="__APP__/Home/Administration/vehsettingadd" method="post">
        <h4>车辆类型(考试类型)配置</h4>
        <foreach name="driving_type" item="v">
            <td><input type="checkbox" name="driving_type[]" value="{$v.driving_id}">{$v.driving_name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </td>
        </foreach>
        <hr>
        <h4>教练车类型配置</h4>
        <table>
            <tr>
                <td>名称&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;类型</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作</td>
            </tr>

                <tr>
                    <td><input type="text" name="motor_name">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><select name="model_name" id="">
                        <foreach name="coach_model" item="v">
                        <option value="{$v.model_id}">{$v.model_name}</option>
                        </foreach>>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>

            <foreach name="coach_motor" item="vv">
            <tr>
                <td>{$vv.motor_name}</td>
                <td>{$vv.model_name}</td>
                <td>
                    <a href="__APP__/Home/Administration/vehsettingadd/id/{$vv.motor_id}">修改</a>&nbsp;&nbsp;
                    <a href="__APP__/Home/Administration/delvehsetting/id/{$vv.motor_id}">删除</a>
                </td>
            </tr>
            </foreach>
        </table>

        <input type="submit" value="添加">
    </form>


</div>
</body>

</html>



